*.cgc
*.tcl
tmp
*.vho
\#*
*~
/*.out
control/*.tiff
sim/wave.do
sim/*/sim.out
*.stackdump
expect.tiff
output.tiff
last.out
control/a.out
control/t.tiff
cam.ngc
iseconfig
*.asy
*.*ise
xst
*.xdb
*.log
*.xml
*.rpt
*.ncd
*.syr
*.par
*.xpi
*.map
*.mrp
*.ngm
*.ini
*.html
*.unroutes
*.pad
*.ngd
*.pcf
*.drc
*.bgn
*.bit
*.txt
*.lso
*.xsvf


xilinxcorelib
unisim
wlft*
*.wlf
transcript
work

*.stx
*.twr
*.twx
*.xst
*.cmd_log
*.xrpt
*xdb
*.bld
*.ngr
*.ptwx
*.xwbt
*.csv
_xmsgs*
_ngo*

*.dat
*.mono
*.md5sum

.\#*
*.pyc

simu
simimg
