*.cgc
*.tcl
tmp
*.vho
\#*
*~

expect.tiff
output.tiff
last.out

iseconfig
ipcore_dir/*
*.asy
*.*ise
xst
*.xdb
*.log
*.xml
*.rpt
*.ngc
*.ncd
*.syr
*.par
*.xpi
*.map
*.mrp
*.ngm
*.ini
*.html
*.unroutes
*.pad
*.ngd
*.pcf
*.drc
*.bgn
*.bit
*.txt
*.lso
*.xsvf


xilinxcorelib
unisim
wlft*
*.wlf
transcript
work

*.stx
*.twr
*.twx
*.xst
*.prj
*.cmd_log
*.xrpt
*xdb
*.bld
*.ngr
*.ptwx
*.xwbt
*.csv
_xmsgs*
_ngo*

*.dat
*.mono
*.md5sum

.\#*
*.pyc

simu
simimg
